body {
  background: aquamarine;
  text-align: center;
}

h1 {
  color: darkmagenta;
  font-size: 100px;
}

@media screen and (max-width: 1000px) and (min-width: 601px) {
  body {
    background-color: white;
  }
  h1 {
    color: red;
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: red;
  }
  h1 {
    color: white;
    font-size: 30px;
  }
}
